#main-logo {
    width: 40px;
    height: auto;
}

#navbar-item {
    color: white;
}

header {
    margin-bottom: 2%;
}

textarea {
    min-height: 400px;
}

.box {
    background: #FFF;
    margin: 0 0 30px;
    border: solid 1px #E6E6E6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#footer-text {
    margin-top: 2%;
}

html {
    position: relative;
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

.pageContentWrapper {
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

p {
    color: #4e555b;
}